#navbar-logo {
  height: 65px;
}

.img-div {
  background-color: black;
}

.wht {
  color: white;
}

#home-img {
  opacity: 0.3;
}

#attention-phrase {
  position: absolute;
  text-align: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-description {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
}

#cta-button {
  position: absolute;
  border-radius: 2vw;
  text-align: center;
  width: 35%;
  height: 10%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 100%);
}

#review-img {
  opacity: 0.5;
}

#review-title {
  position: absolute;
  text-align: center;
  width: 80%;
  top: 165%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#review-cards {
  position: absolute;
  left: 3%;
  top: 190%;
}
